
*{
    font-family: 'Roboto',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: #FF8C00;
}
.logo-imagem{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
}

.containerprincipal {
    padding: 10px;
    display: flex;
    align-items: center;
    
}


.textoh1{
    margin-left: 20px;
}
#cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li{
    font-family: 'Roboto',sans-serif;
    align-items: center;
    display: inline-block;
    margin: 0 10px;
}

.menu li a{
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
}

.menu li a :hover{
    background-color: aqua;
}
.textoh1{
    color: white;
}